body {
    margin: 0px;

}

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #fbaf32;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #719a0a;
}

.navbar .navbar-brand:hover {
    color: #fbaf32;
}

.navbar .navbar-brand:hover span {
    color: #fbaf32;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.container_booking {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.container-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0px auto;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, .1);
}

.container-b label {
    color: white;
}

hr {
    width: 30%;
    border-color: #fbaf32;
}

.container-b .container-b-info {
    width: 100%;
}


.container-b-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-b-city label, .container-b-check label, .container-b-room label {
    display: flex;
    justify-content: flex-start;
}

#input_booking {
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: 0;
    outline: none;
    border-color: none;
    padding-left: 30px;
}

div#sdk {
    margin-top: 50px;
}

div#sdk h2 {
    margin-bottom: 20px;
}

.fi {
    margin-bottom: 8px;
    text-align: center;
    margin-top: 15px;
    color: white;
}

#todos {
    position: absolute;
    margin-left: 8px;
    color: #fbaf32;
}

.content_product_null {
    width: 100%;
}

.img_cart {
    width: 100%;
    margin-bottom: 20px;
}



.ch {
    margin-top: 500px;
}

.total_checkout {
    margin-top: 20px;
}

::before {
    color: greenyellow;
}

.list {
    list-style: none;
}

.container-included {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #fbaf32;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #666666;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
}



@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.container-included {
    width: 100%;
    margin-right: 15px;
}


.button-add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

::before {
    color: #fbaf32;
}

.list {
    list-style: none;
    white-space: nowrap;
}

.container-included {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iva {
    color: blue;
}

.total {
    color: green;
}

.input-group-text {
    height: 40px;
}
