body {
    margin: 0px;
    padding: 0;

}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    display: flex;
}

.product-container {
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.container-included {
    width: 100%;
    margin-right: 15px;
}


.product-container .button-add {
    width: 100px;
    margin-right: 5px;
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.product-container .button-add a {
    color: #4CAF50;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-remove {
    width: 100px;
    margin-right: 5px;
    background-color: white;
    color: black;
    border: 2px solid red; /* Red */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-remove:hover {
    background-color: red; /* Red */
    color: white;
}

.button-delete {
    margin-right: 5px;
    background-color: white;
    color: #a23530;
    font-size: 10px;
    border: 2px solid #a23530; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.container-code {
    margin-bottom: 20px;
}
  
.button-delete:hover {
    background-color: #a23530; /* Green */
    color: white;
}

::before {
    color: white;
}

.list {
    list-style: none;
    white-space: nowrap;
}

.container-included {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iva {
    color: blue;
}

.total {
    color: green;
}

.input-group-text {
    height: 40px;
}

.carrousel__container {
    padding: 35px;
}

.carrousel__container {
    position: relative;
}

.carousel__btn-anterior, .carousel__btn-despues {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

.carousel__btn-anterior {
    position: absolute;
    text-align: center;

    background-color: black;
    left: -5px;
}

.carousel__btn-despues {
    text-align: center;
    background-color: black;
    right: -5px;
}

.content_product {
    overflow: hidden;
}

.carousel__container_content_product {
    overflow: hidden;
}

.glider {
    overflow-x: auto;
}

.container-products {
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    background-color: white;
}

.produc {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.produc img {
    width: 120px;
    height: 100%;
    border-radius: 20px;
}

.descriptions {
    width: 100%;
}


.descriptions h2 {
    font-size: 20px;
    width: 100%;
    margin-left: 20px;
}

.rank-and-btn {
    display: flex;
}

.descriptions .star {
    font-size: 15px;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
}

.container-total {
    width: 100%;
}

.container-total-sub, .container-total-iva, .container-total-total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

i[class^="fi-sr-"]:before, i[class*=" fi-sr-"]:before, span[class^="fi-sr-"]:before, span[class*="fi-sr-"]:before {
    color: #fbaf32;
    font-family: uicons-solid-rounded !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

i.fi.fi-rr-interrogation.inte-info {
    margin-left: 2px;
    font-size: 17px;
    margin-top: -5px;
    position: absolute;
}

.container-info {
    width: 1250%;
    margin-top: -100px;
    background-color: rgba(255,165, 0, 0.1);
}

.paragraph-info {
    color: black;
}

.container-info {
    margin-left: -10px;
    margin-top: -80px;
    height: 100px;
    width: 300px;
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.fa-times:before {
    color: black;
    content: "\f00d";
    font-size: 12px;
}

input.input-cody {
    border-radius: 20px;
    width: 95%;
    height: 45px;
    padding-left: 25px;
    border: 1px solid #fbaf32;
}

.btn-primary {
  width: 120px;
  height: 30px;
  background:#fbaf32;
  font-size: 10px;
  outline-color: rgba(59, 131, 4189, 0.1);
  border-color: rgba(59, 131, 4189, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  transition-duration: 0.2s;
  margin-left: -132px;
  margin-bottom: 2px;
}

.btn-primary:hover {
  background-color:#fbaf32;
  outline-color:#fbaf32;
  border-color:#fbaf32;
  width: 125px;
  height: 30px;
}

i.fi.fi-rr-ticket.code-primary {
    position: absolute;
    margin-left: -87%;
    margin-top: 13px;
}