body {
    margin: 0px;

}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #2196F3;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #008CBA; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #008CBA; /* Blue */
    color: white;
}

.page-content {
    display: flex;
}

.product-container {
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container-check:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    width: 300px;
}

.product-container h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.container-included {
    width: 100%;
    margin-right: 15px;
}


.button-add {
    width: 100px;
    margin-right: 5px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-dele {
    margin-right: 5px;
    background-color: white;
    color: red;
    font-size: 10px;
    border: 2px solid red; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-dele:hover {
    background-color: red; /* Green */
    color: white;
}

::before {
    color: white;
}

.list {
    list-style: none;
    white-space: nowrap;
}

.container-included {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iva {
    color: blue;
}

.total {
    color: green;
}

.input-group-text {
    height: 40px;
}

.carrousel__container {
    padding: 35px;
}

.carrousel__container {
    position: relative;
}

.carousel__btn-anterior, .carousel__btn-despues {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

.carousel__btn-anterior {
    position: absolute;
    text-align: center;

    background-color: black;
    left: -5px;
}

.carousel__btn-despues {
    text-align: center;
    background-color: black;
    right: -5px;
}

.content_product {
    overflow: hidden;
}

.carousel__container_content_product {
    overflow: hidden;
}

.glider {
    overflow-x: auto;
}

.container-products {
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: justify;
    margin-bottom: 10px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    background-color: white;
}

.produc {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.produc img {
    width: 120px;
    height: 100%;
    border-radius: 20px;
}

.descriptions {
    width: 100%;
}


.descriptions h2 {
    font-size: 20px;
    width: 100%;
    margin-left: 20px;
}

.rank-and-btn {
    display: flex;
}

.descriptions .star {
    font-size: 15px;
    width: 60%;
    margin-left: 20px;
    margin-top: 20px;
}

.container-total {
    width: 100%;
}

.container-total-sub, .container-total-iva, .container-total-total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

i[class^="fi-ss-"]:before, i[class*=" fi-ss-"]:before, span[class^="fi-ss-"]:before, span[class*="fi-ss-"]:before {
    color: yellow;
    font-family: uicons-solid-straight !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
